recursive-include docs *
recursive-include examples *
recursive-include tests *
recursive-include luther *
recursive-include luther/templates *
recursive-include luther/static *
recursive-include luther/scripts *
include setup.py
include setup.cfg
include README.md
include LICENSE
