<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>dnsd.co</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/luther.css">
        <link rel="import" href="/static/about.html">
    </head>
    <body>
        <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="loginLabel" style="text-align: center;">dnsd.co</h2>
                    </div>
                    <div class="modal-body">
                        <h3 style="text-align: center;">Login</h3>
                        <!-- ko if: user_errors().length -->
                        <!-- ko foreach: user_errors -->
                        <div class="alert alert-danger" data-bind="text: message"></div>
                        <!-- /ko -->
                        <!-- /ko -->
                        <form>
                            <div class="control-group form-group">
                                <label class="control-label" for="email">Email</label>
                                <div class="controls">
                                    <input data-bind="value: email" id="email" class="form-control" placeholder="you@email.com">
                                </div>
                            </div>
                             <div class="control-group form-group">
                                <label class="control-label" for="password">Password</label>
                                <div class="controls">
                                    <input data-bind="value: password" type="password" id="password" class="form-control" placeholder="">
                                </div>
                            </div>
                            <button data-bind="click: login" class="btn btn-primary">Login</button>
                        </form>
                        <hr>
                        <h3 style="text-align: center;">Register</h3>
                        <form>
                            <div class="control-group form-group">
                                <label class="control-label" for="new_email">Email</label>
                                <div class="controls">
                                    <input data-bind="value: new_email" id="new_email" class="form-control" placeholder="you@email.com">
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <label class="control-label" for="new_password">Password</label>
                                <div class="controls">
                                    <input data-bind="value: new_password" type="password" type="password" id="password" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <label class="control-label" for="new_password_two">Confirm Password</label>
                                <div class="controls">
                                    <input data-bind="value: new_password_two" type="password" type="password" id="password" class="form-control" placeholder="">
                                </div>
                            </div>
                            <button data-bind="click: register" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="main" class="container">
            <div class="row">
                <div class="col-lg-12 col-centered">
                    <h1 style="text-align: center; cursor: default;">dnsd.co</h1>
                </div>
            </div>
            <!-- ko if: loggedin() -->
            <div class="row">
                <div class="col-lg-12 col-centered">
                    <!-- ko if: loggedin() -->
                    <div class="useracts">
                        <div class="btn-group">
                            <button data-bind="click: beginChangePassword" class="btn btn-info">Change Password</button>
                            <button data-bind="click: beginDelete" class="btn btn-danger">Delete Account</button>
                            <button data-bind="click: logout" class="btn btn-warning">Logout</button>
                        </div>
                    </div>
                    <div class="modal fade" id="delUser" tabindex="-1" role="dialog" aria-labelledby="delUserLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="delUserLabel">Delete Account</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure?</p>
                                </div>
                                <div class="modal-footer">
                                    <button data-bind="click: deleteUser" class="btn btn-danger">Yep</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="editPass" tabindex="-1" role="dialog" aria-labelledby="editPassLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="editPassLabel">Change Password</h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="control-group form-group">
                                            <label class="control-label" for="new_password">New Password</label>
                                            <div class="controls">
                                                <input data-bind="value: new_password" type="password" type="password" id="password" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="control-group form-group">
                                            <label class="control-label" for="new_password_two">Confirm New Password</label>
                                            <div class="controls">
                                                <input data-bind="value: new_password_two" type="password" type="password" id="password" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <button data-bind="click: changePassword" class="btn btn-warning">Change</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                    <h2 style="text-align: center; cursor: default;">Subdomains</h2>
                    <br>
                    <!-- ko if: api_errors().length -->
                    <!-- ko foreach: api_errors -->
                    <div class="alert alert-dismissable" data-bind="css: level"><div style="display: inline-block;" data-bind="text: message"></div><button id="notif" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>
                    <!-- /ko -->
                    <!-- /ko -->
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <tr><td><b>Subdomain</b></td><td><b>IP Address</b></td><td><b>Subdomain_token</b></td><td><b>Last update</b></td><td><b>Options</b></td></tr>
                            <!-- ko foreach: subdomains -->
                            <tr>
                                <td>
                                    <p data-bind="text: subdomain"></p>
                                </td>
                                <td>
                                    <p data-bind="text: ip"></p>
                                </td>
                                <td>
                                    <p data-bind="text: token"></p>
                                </td>
                                <td>
                                    <p data-bind="text: last_update"></p>
                                </td>
                                <td style="text-align: center; min-width: 195px;">
                                    <div class="btn-group">
                                        <button data-bind="click: $parent.beginUpdate" class="btn btn-xs btn-success">Update</button>
                                        <button data-bind="click: $parent.regenToken" class="btn btn-xs btn-warning">Regen token</button>
                                        <button data-bind="click: $parent.remove" class="btn btn-xs btn-danger">Delete</button>
                                    </div>
                                </td>
                            </tr>
                            <!-- /ko -->
                        </table>
                    </div>
                    <button data-bind="click: beginAdd" class="btn btn-info">Add new subdomain</button>
                </div>
            </div>
            <hr>
            <!-- /ko -->
            <!-- ko ifnot: loggedin() -->
            <div class="row">
                <div class="col-lg-12 col-centered" style="text-align: center; margin-top: 20px; margin-bottom: 10px;">
                    <button data-bind="click: beginLogin" class="btn btn-info">Login or Register</button>
                </div>
            </div>
            <hr>
            <!-- /ko -->
            <h2 style="text-align: center; cursor: default;">Stats</h2>
            <div id="luther-stats"></div>
            <hr>
            <div id="about"></div>
        </div>
        <div class="modal fade" id="addSub" tabindex="-1" role="dialog" aria-labelledby="addSubLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="addSubLabel">Add new subdomain</h4>
                    </div>
                    <div class="modal-body">
                        <p>Your current IP is (probably): <strong>{{client_ip}}</strong></p>
                        <form>
                            <div class="control-group form-group">
                                <label class="control-label" for="inputSubdomain">Subdomain name</label>
                                <div class="controls">
                                    <input data-bind="value: subdomain" id="inputSubdomain" class="form-control" placeholder="awesomedomain">
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <label class="control-label" for="inputIP">IP address</label>
                                <div class="controls">
                                    <input data-bind="value: ip" id="inputIP" class="form-control" placeholder="1.2.3.4">
                                </div>
                            </div>
                            <button data-bind="click: addSubdomain" class="btn btn-primary">Add subdomain</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editSub" tabindex="-1" role="dialog" aria-labelledby="editSubLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="editSubLabel">Edit subdomain</h4>
                    </div>
                    <div class="modal-body">
                        <div class="current">
                            <h3>Current</h3>
                            <br>
                            <div class="current-row"><div class="bit" data-bind="text: subdomain"></div><i class="fa fa-long-arrow-right" style="font-size: 1.5em;"></i><div class="bit" data-bind="text: ip"></div></div>
                            <br>
                            <div class="you">You seem to be <strong>{{client_ip}}</strong></div>
                        </div>
                        <form>
                            <div class="control-group form-group">
                                <label class="control-label" for="inputIP">IP address</label>
                                <div class="controls">
                                    <input data-bind="value: ip" id="inputIP" class="form-control" placeholder="1.2.3.4">
                                </div>
                            </div>
                            <button data-bind="click: updateSubdomain" class="btn btn-primary">Update subdomain</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var luther_client_address = '{{client_ip}}';
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="/static/luther.js"></script>
        <script>
            {% if luther_stats %}
            $(function () {
                var stuff = JSON.parse('{{luther_stats|tojson|safe}}');
                for (var i = 0; i < stuff.users.length; i++) {
                    stuff.users[i][0] = Date.parse(stuff.users[i][0])
                }
                for (var i = 0; i < stuff.subdomains.length; i++) {
                    stuff.subdomains[i][0] = Date.parse(stuff.subdomains[i][0])
                }
                for (var i = 0; i < stuff.subdomain_limit.length; i++) {
                    stuff.subdomain_limit[i][0] = Date.parse(stuff.subdomain_limit[i][0])
                }
                for (var i = 0; i < stuff.updates.length; i++) {
                    stuff.updates[i][0] = Date.parse(stuff.updates[i][0])
                }
                $('#luther-stats').highcharts({
                    chart: {
                        type: 'spline'
                    },
                    plotOptions: {
                        spline: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    title: {
                        text: ''
                    },
                    xAxis: {
                        type: 'datetime',
                        title: {
                            text: 'Date'
                        }
                    },
                    yAxis: {
                        min: 0,
                        allowDecimals: false
                    },
                    series: [{
                        name: 'Number of Users',
                        data: stuff.users
                    },{
                        name: 'Number of Subdomains',
                        data: stuff.subdomains
                    },{
                        name: 'Number of Subdomain Updates since last check',
                        data: stuff.updates
                    },{
                        name: 'Subdomain limit',
                        data: stuff.subdomain_limit,
                        dashStyle: 'longdash',
                        color: '#ff0000',
                        lineWidth: 1
                    }]
                })
            })
            {% endif %}
        </script>
    </body>
</html>